.mbappe{
    margin-bottom: -1.3rem;
    margin-left: -.5rem;
}
body{
    font-family: 'Berkshire Swash', cursive;
    margin:0;
    padding:0;
}
.budget{
    max-width:75%; 
}
.ul-list{
    max-width: 75%;
}